In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('./dataset/train.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [9]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [18]:
train_data = pd.read_csv('./dataset/train.csv')
test_data = pd.read_csv('./dataset/test.csv')

labels = train_data['target']
train_features = train_data.drop(columns=['target'])
all_features = pd.concat([train_features, test_data], ignore_index=True)
all_features
all_features = all_features.drop(columns=['id', 'location'])

all_features['keyword'].fillna('unknown', inplace=True)
all_features = pd.get_dummies(all_features, columns=['keyword'], prefix='kw')

/var/folders/dh/7984j7ln2b9005qghdnnbqbc0000gn/T/ipykernel_86321/2511795653.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_features['keyword'].fillna('unknown', inplace=True)

In [19]:
all_features.head()

,text,kw_ablaze,kw_accident,kw_aftershock,kw_airplane%20accident,kw_ambulance,kw_annihilated,kw_annihilation,kw_apocalypse,kw_armageddon,...,kw_weapons,kw_whirlwind,kw_wild%20fires,kw_wildfire,kw_windstorm,kw_wounded,kw_wounds,kw_wreck,kw_wreckage,kw_wrecked
0,Our Deeds are the Reason of this #earthquake M...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Forest fire near La Ronge Sask. Canada,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,All residents asked to 'shelter in place' are ...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,"13,000 people receive #wildfires evacuation or...",False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Just got sent this photo from Ruby #Alaska as ...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
train_data['text'].str.len().max()